footer {
    #liturgy {
        padding: 40px 0;

        img {
            height: 210px;
        }

        span {
            color: #94bc4c;

            b {
                margin: 5px 0px;
                font-size: 20px;
                border-bottom: solid 2px #f0dca9;
            }
        }

        .title-liturgy {
            padding-bottom: 20px;
        }

        .title-paroco {
            padding-bottom: 20px;
        }
    }

    #operation-home {
        background: #58964d;
        text-align: center;
        padding: 50px;

        .title-operation {
            span {
                color: #ffffff;

                b {
                    margin: 5px 10px;
                    font-size: 25px;
                    border-bottom: solid 2px #f0dca9;
                }
            }
        }

        .content-operation {

            span,
            h2 {
                color: #ffffff;
            }

            p {
                font-size: 20px;
            }
        }
    }

    #social-footer {
        padding: 50px 0;

        .title-social {
            font-size: 25px;
            color: #7f7f80;
            padding-left: 60px;
        }

        .content {
            ul {
                list-style: none;

                li {
                    float: left;
                    padding: 12px 30px;

                    a {
                        color: #7f7f80;

                        span {
                            padding: 30px;
                            font-size: 20px;
                        }

                        i {
                            font-size: 60px;
                            line-height: 0.8;
                        }
                    }
                }
            }

            #icon {
                padding-top: 25px;
                padding-left: 100px;

                i {

                    line-height: 1;
                }
            }
        }
    }

    #site-map {
        background: #0e5d9c;
        padding: 20px;

        ul {
            list-style: none;

            li {
                padding-bottom: 7px;

                a {
                    color: #ffffff;
                }
            }

            li:first-child {
                padding-bottom: 20px;
            }
        }
    }

    #bottom {
        padding: 40px;

        .logo-bottom {
            text-align: center;

            img {
                width: 160px;
            }
        }
    }
}