body {
    background: #fff;
    font-family: sans-serif;

    div {
        position: relative;
        width: 100%;
        height: auto;
    }

    .row {
        margin: 0;
    }

    .zero {
        padding: 0 2px 4px;
    }
}

#top {
    padding-top: 35px;

    .logo-top {
        img {
            padding-top: 12px;
        }

        h1 {
            font-size: 1.8em;
            color: #7f7f80;
        }
    }

    .search {
        width: 100%;
        padding: 1rem 1.5rem;
        border: 1px solid #7f7f80;
        border-radius: 15px;
        margin-left: 20px;
        margin-top: 22px;

        input,
        button {
            border: none;

            i {
                color: #7f7f80;
                font-size: 25px;
            }
        }
    }

    .social-top {
        ul {
            list-style: none;

            li {
                float: left;
                padding: 0 12px;

                a {
                    font-size: 40px;
                    color: #7f7f80;
                }
            }
        }
    }
}

#navbar {
    background: #62aae0;
    padding-left: 20px;

    .navbar {
        ul {
            list-style: none;
            margin: 0;

            li {
                float: left;
                padding: 0 25px;
                height: 68px;
                padding-top: 20px;

                a {
                    color: #fff;
                    font-size: 20px;
                    text-decoration: none;
                }

                &:hover {
                    background: #113a5d;
                }
            }
        }
    }

    #navdown-content {
        display: none;
        position: absolute;
        list-style: none;
        padding-left: 0px;
        background: #4980a9;
        z-index: 1;
        margin-left: -25px;
        margin-top: 20px;

        li {
            float: none;
            padding-right: 13px;
            border-bottom: solid 1px #fff;
        }

        &.active {
            display: block;
        }
    }

    .navdown-sub {
        display: none;
        position: absolute;
        list-style: none;
        padding-left: 0px;
        background: #2b597b;
        z-index: 1;
        margin-left: 180px !important;
        margin-top: -48px !important;

        li {
            float: none;
            padding-right: 13px;
            border-bottom: solid 1px #fff;
            width: 190px;
        }

        &.active {
            display: block;
        }
    }

    #navdown-sacramento {
        margin-left: -215px !important;
    }

    #navdown-discipulos {
        display: none;
        position: absolute;
        list-style: none;
        padding-left: 0px;
        background: #4980a9;
        z-index: 1;
        margin-left: -25px;
        margin-top: 20px;

        li {
            float: none;
            padding-right: 13px;
            border-bottom: solid 1px #fff;
        }

        &.active {
            display: block;
        }
    }

    #navdown-community {
        display: none;
        position: absolute;
        list-style: none;
        padding-left: 0px;
        background: #4980a9;
        z-index: 1;
        margin-left: -25px !important;
        margin-top: 20px !important;
        width: 200px;

        li {
            float: none;
            padding-right: 33px;
            border-bottom: solid 1px #fff;
            width: 100%;
        }

        &.active {
            display: block;
        }
    }
}

#banner-home {
    border-bottom: solid 1px silver;
    padding: 30px 0 20px;
}

