@import "../../core/core.less";
@import "modules/header.less";
@import "modules/footer.less";

#banner-home {
    display: none;
}
#operation-home {
    display: none;
}

#social-footer {
    display: none;
}

#capa {
    padding: 20px 0 40px;

    .capa {
        img {
            height: 285px;
            margin-bottom: 15px;
        }
        span{
            color: #873a7e;
            font-weight: bold;
            b{
                color: #000;
            }
        }
    }

    .nav-community {
        ul {
            list-style: none;
            padding-left: 0;
            margin: 0;
            margin-top: -3px;

            li {
                padding: 17px 5px;
                margin: 1px 0;
                background: #4980a9;

                a {
                    color: #fff;
                    padding-left: 10px;
                    text-decoration: none;
                }

                &:hover {
                    background: #113a5d;
                }
            }
        }
    }
}

#content {
    padding: 25px 0 40px;
    .title-content {
        text-align: center;
        padding-bottom: 10px;
    }

    .content {
        padding: 0 15px;
    }
}

#gallery{
    padding: 0 0 20px;
}

// LOAD CSS
.lds-ripple {

    position: relative;
    width: 64px;
    height: 64px;
  }
  .lds-ripple div {
    position: absolute;
    border: 4px solid #000;
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  }
  .lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
  }
  @keyframes lds-ripple {
    0% {
      top: 28px;
      left: 28px;
      width: 0;
      height: 0;
      opacity: 1;
    }
    100% {
      top: -1px;
      left: -1px;
      width: 58px;
      height: 58px;
      opacity: 0;
    }
  }
  
      #load {
          margin-left: 1000px;
      }

      .tituloComunidade {
		position: absolute;
		width: 100%;
		top: -48px;
		padding-bottom: 16px;
		padding-top: 0;
		padding-left: 11px;
		color: #fff;
		font-weight: bolder;
		font-size: 17pt;
		text-align: start;
		background: linear-gradient(0deg, rgba(0, 0, 0, 1) 13%, rgba(0, 0, 0, -9.732055) 115%);
	}

	.grad {
		background: #62aae0;
		background: -webkit-linear-gradient(150deg, #62aae0 0%, #62aae0, 15%, #62aae0 15%, #62aae0 100%);
		background: -o-linear-gradient(150deg, #62aae0 0%, #62aae0, 15%, #62aae0 15%, #62aae0 100%);
		background: -moz-linear-gradient(150deg, #62aae0 0%, #62aae0, 15%, #62aae0 15%, #62aae0 100%);
		background: linear-gradient(307deg, #62aae0 0%, #62aae0, 29%, #62aae0 -9%, #62aae0 100%);
		width: 37%;
		padding: -2px;
		color: #fff;
		position: absolute;
		left: -10px;
		border-radius: 220px 10px 4110px 0px;
		z-index: 1;
		box-shadow: rgba(0, 0, 0, 0.5) 2px 2px 30px;
	}

	.grad2 {
		background: #62aae0;
		background: -webkit-linear-gradient(150deg, #62aae0 0%, #62aae0, 15%, #62aae0 15%, #62aae0 100%);
		background: -o-linear-gradient(150deg, #62aae0 0%, #62aae0, 15%, #62aae0 15%, #62aae0 100%);
		background: -moz-linear-gradient(150deg, #62aae0 0%, #62aae0, 15%, #62aae0 15%, #62aae0 100%);
		background: linear-gradient(307deg, #62aae0 0%, #62aae0, 29%, #62aae0 -9%, #62aae0 100%);
		width: 37%;
		padding: -2px;
		color: #fff;
		position: absolute;
		left: -1px;
		border-radius: 220px 10px 4110px 0px;
		z-index: 1;
		box-shadow: rgba(0, 0, 0, 0.5) 2px 2px 30px;

	}

	.grad3 {
		background: #62aae0;
		background: -webkit-linear-gradient(150deg, #62aae0 0%, #62aae0, 15%, #62aae0 15%, #62aae0 100%);
		background: -o-linear-gradient(150deg, #62aae0 0%, #62aae0, 15%, #62aae0 15%, #62aae0 100%);
		background: -moz-linear-gradient(150deg, #62aae0 0%, #62aae0, 15%, #62aae0 15%, #62aae0 100%);
		background: linear-gradient(307deg, #62aae0 0%, #62aae0, 29%, #62aae0 -9%, #62aae0 100%);
		width: 50%;
		padding: -2px;
		color: #fff;
		position: absolute;
		left: -1px;
		border-radius: 220px 10px 4110px 0px;
		z-index: 1;
		box-shadow: rgba(0, 0, 0, 0.8) 2px 2px 30px;

	}