@import "../../core/core.less";
@import "modules/header.less";
@import "modules/footer.less";

#banner-home {
    display: none;
}

#operation-home {
    display: none;
}

#social-footer {
    display: none;
}

#contacts {

    .contacts {
        padding: 40px;

        .form {
            padding: 40px;

            .title {
                text-align: center;
                padding-bottom: 30px;

                h1 {

                    Ï span {
                        border-bottom: solid 2px #f0dca9;
                        color: #94bc4c;
                    }
                }
            }

            input,
            button,
            select,
            textarea {
                width: 100%;
                border-radius: 5px;
                padding-left: 15px;
                margin: 10px 0;
                line-height: 2;

                &:hover {
                    border: solid 2px #93bc4c;
                }
            }

            button {
                background: #93bc4c;
                width: 50%;
                color: #fff;
            }
        }

    }

}

#maps {
    padding: 60px 0;
    width: 100%;
}