@import "../../core/core.less";
@import "modules/header.less";
@import "modules/footer.less";

#operation-home{
    display: block;
}

#social-footer{
    display: block;
}

#news-home {
    padding: 60px 0;

    .overlay {
        width: 100%;
        height: 355px;
        background: rgba(0, 60, 94, 0.75);
        padding: 0;
        align-items: center;
        justify-content: center;
        align-content: center;
        display: flex;
        color: white;
        font-size: 16pt;
        font-weight: 700;
        opacity: 0;
        transition: 0.4s;

        a {
            color: white;

            &:hover {
                text-decoration: none;
            }
        }
    }

    .title-news {
        padding: 10px 0 20px 40px;

        span {
            font-size: 20px;

            b {
                color: #87397e;
                padding-right: 50px;
            }
        }
    }

    .news-grid {
        .news-main {
            .title-news-main {
                margin-top: -465px;
                height: 465px;
            }

            &:hover {
                .overlay {
                    opacity: 1;
                }
            }
        }

        .news {
            .col-md-12 {
                img {
                    height: 268px;
                    width: 100%;
                }

                .title-news-col-12 {
                    margin-top: -268px;
                    height: 268px;

                    span {
                        font-size: 14px;
                    }
                }

                &:hover {
                    .overlay {
                        opacity: 1;
                    }
                }
            }

            .col-md-6 {
                padding-top: 4px;

                .title-news-col-6 {
                    margin-top: -191px;
                    height: 191px;

                    span {
                        font-size: 10px;
                    }
                }

                &:hover {
                    .overlay {
                        opacity: 1;
                    }
                }
            }
        }
    }
}

#news-rss {
    padding: 60px 0;

    .rss {
        text-align: justify;

        .title-rss {
            text-align: center;

            span {
                color: #87397e;
                font-size: 18px;
                font-weight: bold;
            }
        }

        .content {
            a {
                color: #333333;

                h1 {
                    font-size: 1.5em;
                    margin: 1em 0;
                    border-bottom: solid 1px #87397e;
                    padding-bottom: 5px;
                }

                p {
                    margin: 16px 6px;
                }
            }
        }
    }
}

#disciple {
    background: #325874;
    text-align: center;
    height: 350px;

    .title-disciple {
        h1 {
            span {
                border-bottom: solid 1px #f0dca9;
                padding-bottom: 5px;
                color: #fff;
            }
        }
    }

    .disciple {
        padding-top: 20px;

        a {
            img {
                padding-top: 20px;
            }

            p {
                color: #fff;
                font-size: 28px;
            }
        }
    }

    .sub-disciple {
        position: absolute;
        background: #325773;
        height: 200px;
        display: none;

        ul {
            list-style: none;

            li {
                float: left;
                float: left;
                padding: 50px 120px;
                font-size: 30px;

                a {
                    text-decoration: none;
                    color: #fff;
                }
            }
        }

        &.active {
            display: block;
        }

        .close {
            a {
                float: right;
                font-size: 30px;
                color: #fff;
                margin-top: -40px;
            }
        }
    }
}

#midia {
    padding: 60px 0;

    .overlay {
        width: 100%;
        height: 355px;
        background: rgba(0, 60, 94, 0.75);
        padding: 0;
        align-items: center;
        justify-content: center;
        align-content: center;
        display: flex;
        color: white;
        font-size: 16pt;
        font-weight: 700;
        opacity: 0;
        transition: 0.4s;

        a {
            color: white;

            &:hover {
                text-decoration: none;
            }
        }
    }

    .zr {
        padding-right: 0px;
        padding-left: 4px;

        img {
            height: 175px;
        }
    }

    .zero-right {
        padding-right: 0px;
        padding-left: 40px;
    }

    .zero-left {
        padding-right: 0px;
    }

    .title-midia {
        padding-bottom: 20px;

        span {
            color: #94bc4c;

            b {
                margin: 5px 10px;
                font-size: 25px;
                border-bottom: solid 2px #f0dca9;
            }
        }
    }

    .photo {

        .photo-main {
            a {
                color: #fff;
                text-decoration: none;

                img {
                    height: 355px;
                }

                .title-photo-main {
                    margin-top: -355px;
                    margin-left: 0px;
                    margin-right: 10px;
                    font-size: 20px;
                }
            }

            &:hover {
                .overlay {
                    opacity: 1;
                }
            }
        }

        .photos {
            padding-top: 2px;
            padding-bottom: 4px;

            a {
                text-decoration: none;
                color: #000;

                .title-photos {
                    margin-top: -175px;
                    height: 175px;

                    span {
                        color: #94bc4c;

                        b {
                            margin: 5px 10px;
                        }
                    }
                }
            }

            &:hover {
                .overlay {
                    opacity: 1;
                }
            }
        }
    }

    .video {

        .video-main {
            height: 358px;

            a {
                color: #fff;
                text-decoration: none;

                img {
                    height: 355px;
                }

                .title-video-main {
                    margin-top: -355px;
                    margin-left: 0px;
                    margin-right: 0;
                    font-size: 20px;
                    width: 500px;
                }
            }

            &:hover {
                .overlay {
                    opacity: 1;
                }
            }
        }
    }

    .plus {
        padding: 10px 10px 0;

        a {
            color: #325874;
            font-weight: 600;
        }
    }
}



