@import "../../core/core.less";
@import "modules/header.less";
@import "modules/footer.less";

#banner-home {
    display: block;
}

#operation-home {
    display: none;
}

#social-footer {
    display: none;
}

#news-show {
    .news {
        padding-top: 40px;

        .at-share-btn-elements {
            padding-left: 10px;
        }

        .btFonte {
            color: #000;
            float: right;
            padding: 0 5px;
            border: solid 2px #848484;
            border-radius: 12px;
            margin: 3px;
        }

        .nav-news {
            span {
                padding: 0 10px;

                a {
                    color: #7f7f80;
                    text-decoration: none;
                    cursor: pointer;
                    font-weight: bold;
                    padding: 0 7px;
                }
            }

        }

        .title {
            padding: 0 15px 40px;

            h1 {
                font-size: 2em;
            }

            .title-show {
                text-align: center;
            }
        }

        .news-show {
            padding: 0 0 25px;

            span {
                color: #7c3b8f;
                font-weight: bold;
            }

            img {
                width: 100%;
                height: auto;
            }
        }

        .content-show {
            .title-show {
                h2 {
                    span {
                        color: #113a5d;
                        border-bottom: solid 1px #f0dca9;
                        padding-bottom: 5px;
                    }
                }
            }

            .content {
                padding-left: 10px;
                text-align: justify;
            }
        }
    }

    .featured {
        background: antiquewhite;
        margin-top: 90px;

        .title-featured {
            background: #7c3b8f;
            text-align: center;
            color: #fff;
        }

        .news-featured {
            padding: 0 14px;
            margin: -30px 0 20px 0;
            border-bottom: solid 1px #af9b80;

            a {
                .title-news-featured {
                    h3 {
                        margin-bottom: 0;
                        text-align: justify;
                    }
                }

                p {
                    margin-top: 0;
                    font-size: 14px;
                    text-align: justify;
                }
            }
        }
    }

    .most-read {
        background: antiquewhite;

        .title-read {
            background: #7c3b8f;
            text-align: center;
            color: #fff;
        }

        .news-read {
            padding: 0 14px;
            margin: -30px 0 20px 0;
            border-bottom: solid 1px #af9b80;

            .title-news-read {
                h3 {
                    margin-bottom: 0;
                    text-align: justify;
                }
            }

            p {
                margin-top: 0;
                font-size: 12px;
                text-align: justify;
            }
        }
    }
}