@import "../../core/core.less";
@import "modules/header.less";
@import "modules/footer.less";

#banner-home {
    display: none;
}

#operation-home {
    display: none;
}

#social-footer {
    display: none;
}

#priest {
    padding-top: 60px;

    .content-priest {
        .name-priest {
            h2 {
                span {
                    color: #113a5d;
                    border-bottom: solid 1px #f0dca9;
                    padding-bottom: 5px;
                }
            }
        }

        .content {
            padding-left: 10px;
            text-align: justify;
        }
    }
}

#priests {
    padding-top: 60px;

    .title {
        padding: 0 15px 15px;

        span {
            color: #94bc4c;

            b {
                margin: 5px 0px;
                font-size: 20px;
                border-bottom: solid 2px #f0dca9;
            }
        }
    }

    .priests {
        a {
            text-decoration: none;

            .name {
                margin-top: -35px;
                margin-left: 15px;
                padding-bottom: 35px;

                span {
                    font-weight: bold;
                    color: #fff;
                }
            }
        }
    }
}