@import "../../core/core.less";
@import "modules/header.less";
@import "modules/footer.less";

#banner-home {
    display: none;
}

#operation-home {
    display: none;
}

#social-footer {
    display: none;
}

#video-show {
    padding-top: 40px;

    .title {
        padding: 0 15px 15px;

        span {
            color: #94bc4c;

            b {
                margin: 5px 0px;
                font-size: 20px;
                border-bottom: solid 2px #f0dca9;
            }
        }
    }

    .content-show {
        .title-show {
            h2 {
                span {
                    color: #113a5d;
                    border-bottom: solid 1px #f0dca9;
                    padding-bottom: 5px;
                }
            }
        }

        .content {
            padding: 10px;
            text-align: justify;
        }
    }

    .video-show {
        padding: 40px 60px;
        text-align: center;
    }
}