@import "../../core/core.less";
@import "modules/header.less";
@import "modules/footer.less";

#banner-home {
    display: none;
}

#operation-home {
    display: none;
}

#social-footer {
    display: none;
}

#patroness{
    padding: 25px 0 40px;
    .title-content {
        text-align: center;
        padding-bottom: 10px;
    }

    .content {
        padding: 0 15px;
    }
}